<!DOCTYPE html>
<html>
<head>
<title>Авторизация</title>
<script>
</script>
</head>
<body>
<form method="post" action="/">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" placeholder="Enter email">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="pass" placeholder="Password">
  <button type="submit">Отправить</button>
</form>
</body>
</html>
