<!DOCTYPE html>
<html>
<head>
<title>Суровые турецкие законы</title>
<script>
</script>
</head>
<body>
<p>Перешли на другую страницу</p>
<p>
  <b>Email:</b> <%= data.email %> <br>
  <b>Pass:</b> <%= data.pass %> <br>
</p>
</body>
</html>
